@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Crime> crimes = (List<Crime>) ViewData["crimes"];
}

<div class="text-center">

    <h2>Total Crimes Reported:</h2>
    <p>In the Last Month: @Model.CrimeCountLastMonth</p>
    <p>In the Last 6 Months: @Model.CrimeCountLastSixMonths</p>
    <p>In the Last Year: @Model.CrimeCountLastYear</p>
    <p>In the Last 2 Years: @Model.CrimeCountLastTwoYears</p>

</div>
