
@page
@model SafeStreet.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<form method="get">
    <!--I used Tag Helpers for Forms and Inputs-->
    <label asp-for="Query">Search for Crime Data:</label>
    <input asp-for="Query" class="form-control" />
    <button type="submit">Search</button>
</form>
