@page
@model TermsAndConditionsModel
@{
    ViewData["Title"] = "Terms and Conditions";
}
<hr>
<h2>Terms and Conditions</h2>
<hr/>

<p>Welcome to SafeStreet! These Terms and Conditions outline the rules and regulations for the use of our platform.</p>

<h3>1. Acceptance of Terms</h3>
<p>By accessing and using the SafeStreet platform, you agree to comply with and be bound by these Terms and Conditions. If you disagree with any part of the terms, please do not use our platform.</p>

<h3>2. Use of the Platform</h3>
<p>SafeStreet provides access to crime data and safety insights for informational purposes. You agree to use the platform responsibly and for its intended purposes.</p>

<h3>3. Data Accuracy</h3>
<p>While we strive to provide accurate and up-to-date data, SafeStreet makes no warranties or guarantees regarding the accuracy, completeness, or reliability of the information provided on the platform.</p>

<h3>4. Limitation of Liability</h3>
<p>SafeStreet shall not be liable for any damages arising from the use of or inability to use the platform. This includes, without limitation, indirect or consequential damages, loss of data, or loss of profits.</p>

<h3>5. Privacy Policy</h3>
<p>We are committed to protecting your privacy. Our Privacy Policy, which explains how we handle user data, is incorporated into these Terms and Conditions. By using SafeStreet, you agree to the terms of our Privacy Policy.</p>

<h3>6. Changes to Terms</h3>
<p>SafeStreet reserves the right to modify these Terms and Conditions at any time. Any changes will be posted on this page, and your continued use of the platform signifies your acceptance of the updated terms.</p>

<h3>7. Contact Us</h3>
<p>If you have any questions or concerns regarding these Terms and Conditions, please contact us at support@safestreet.com.</p>

<p>Thank you for using SafeStreet. Stay informed, stay safe!</p>
